.footer__box {
  height: 40px;
  padding: 0.5rem 1rem;
  background-color: $gray-light;

  @include flex-row;
  @include flex-center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
